[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint-django = "*"
ipython = "*"

[packages]
django = "~=2.2"
dockerjudge = "~=1.2.3"
readme-renderer = {extras = ["md"],version = "*"}
ruamel-yaml = "*"

[requires]
python_version = "3.6"
