{% extends 'pioj/base.html' %}

{% load static i18n %}

{% block title %}Piterator Online Judge{% endblock %}

{% block head %}
  <style>
    body > div.container {
      padding-top: 56px;
    }
  </style>

  <link rel="prefetch" href="https://cdn.jsdelivr.net/npm/clipboard/dist/clipboard.min.js" crossorigin="anonymous">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mt-5 mb-5 text-center">Piterator Online Judge</h2>
        <form class="form-group">
          <div class="input-group input-group-lg mb-3">
            <input type="search" name="kw" value="{{ request.GET.kw }}" autofocus class="form-control" placeholder="{% trans 'Keyword' %}" aria-label="{% trans 'Keyword' %}" aria-describedby="search-botton">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit" id="search-botton">{% trans 'Search' %}</button>
            </div>
          </div>
        </form>
        <div class="container">
          <ol class="list-group list-group-flush">
            {% for problem in problems %}
              <a href="{% url 'problem' problem.pk %}" value="{{ problem.pk }}" class="list-group-item list-group-item-action">{{ problem.title }}</a>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
